$status: #555;
$border-light: #ccc;
$background-color-dark: #212121;
$background-color-medium: #303030;
$background-color-light: #424242;
$font-color: #fff;
$font-color-dark: #222;
$font-color-orange: #daa812;

$font-text: 'Open Sans', sans-serif;
$font-header: 'Quicksand', sans-serif;
$font-links: 'Open Sans', sans-serif;

$line-height: 1.4;
$body-font-size: 1rem;
